@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id="menu-search">
    <div class="text-center">
        <h1 class="page-header">Bleakwind Buffet</h1>

        <p>
            We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood
            off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
            Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!
        </p>


        <div id="text-search">
            <input type="text" name="TextSearch" value="@Model.TextSearch" />
            <input type="submit" value="Search" />
        </div>

        <div id="filters">
            <h4>Order Item Type</h4>
            @foreach (string name in Model.ItemTypeOptions)
            {
                <label>
                    <input type="checkbox" name="ItemTypes" value=@name checked="@Model.ItemTypes.Contains(name)" />
                    @name
                </label>
            }


            <div id="calories-number">
                <h4>Calories</h4>

                From
                <input name="CaloriesMin" type="number" min="0" max="1000" placeholder="min" step="1" value="@Model.CaloriesMin" />
                to
                <input name="CaloriesMax" type="number" min="0" max="1000" placeholder="max" step="1" value="@Model.CaloriesMax" />
            </div>

            <br />

            <div id="price-number">
                <h4>Price</h4>

                From
                <input name="PriceMin" type="number" min="0" max="10" placeholder="min" step="0.01" value="@Model.PriceMin" />
                to
                <input name="PriceMax" type="number" min="0" max="10" placeholder="max" step="0.01" value="@Model.PriceMax" />
            </div>
        </div>

        <div id="displayed-items">
            <h2 class="sub-header">Entrees</h2>

            @foreach (BleakwindBuffet.Data.IOrderItem orderItem in Model.OrderItems)
            {
                @if (orderItem is BleakwindBuffet.Data.Entree entree)
                {
                    <div class="menu-item">
                        <div class="item-name">
                            @entree.ToString()
                        </div>
                        <div class="calories">
                            @entree.Calories
                        </div>
                        <div class="price">
                            @entree.Price
                        </div>
                    </div>
                }
            }

            <h2 class="sub-header">Sides</h2>

            @foreach (BleakwindBuffet.Data.IOrderItem orderItem in Model.OrderItems)
            {
                @if (orderItem is BleakwindBuffet.Data.Side side)
                {
                    <div class="menu-item">
                        <div class="item-name">
                            @side.ToString()
                        </div>
                        <div class="calories">
                            @side.Calories
                        </div>
                        <div class="price">
                            @side.Price
                        </div>
                    </div>
                }
            }

            <h2 class="sub-header">Drinks</h2>

            @foreach (BleakwindBuffet.Data.IOrderItem orderItem in Model.OrderItems)
            {
                @if (orderItem is BleakwindBuffet.Data.Drink drink)
                {
                    <div class="menu-item">
                        <div class="item-name">
                            @drink.ToString()
                        </div>
                        <div class="calories">
                            @drink.Calories
                        </div>
                        <div class="price">
                            @drink.Price
                        </div>
                    </div>
                }
            }
        </div>

        <br />

        <h2>Combo Details</h2>

        <p>Any entree, side, and drink can be combined to result in a <i>combo</i>. Combining these items into a combo will result in a 1$ discount!</p>

        <h2>Possible Soda Flavors</h2>

        <ul class="sodaflavors">
            <li>
                Blackberry
            </li>
            <li>
                Cherry
            </li>
            <li>
                Grapefruit
            </li>
            <li>
                Lemon
            </li>
            <li>
                Peach
            </li>
            <li>
                Watermelon
            </li>
        </ul>
    </div>
</form>